<header class="app-header">
    <mat-toolbar>
        <img src="imagens/logo_eco.png" alt="Logo do app-Eco"> 
        <span class="spacer">Exame</span>
        
        <button routerLink="/" mat-button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
        </button>
        <button routerLink="/pacientes" mat-button>Pacientes</button>
        <button routerLink="/formExame" mat-button>Novo Exame</button>
        <button routerLink="/cadastro" mat-button>Usuario</button>
        <div class="link-toobar">
            <button routerLink="/login" mat-stroked-button color="primary">Login</button>
        </div>
    </mat-toolbar> 
</header>