h1{
    font-size: 30px;
    font-family:'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande', 
    'Lucida Sans Unicode', 
    Geneva, 
    Verdana, 
    sans-serif ;
    font-display: auto;
    

}
p{
    text-align: justify;
    
}